@import url(./Assets/Fonts.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
}
:root {
	--background: #141619;
}

html,
body {
	background: var(--background);
	font-family: switzer;
}

h3{
	font-family: boska;
}

h2{
	color: #fda4af;
}