@import url(./Assets/Fonts.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
}
:root {
	--background: #0c0424;
	--headTextColor: #ccb4d3;
	--mainTextColor: #f0fff0;
}

html,
body {
	background: var(--background);
	font-family: switzer;
	color: var(--mainTextColor);
}

h3{
	font-family: boska;
	color: var(--headTextColor);
}

h2{
	color: var(--headTextColor);
	font-family: boskaMedium;
	text-transform: uppercase;
}

::-webkit-scrollbar{
	width: 5px;
}
::-webkit-scrollbar-thumb{
	background: linear-gradient(0deg, #ccb4d3, #0c0424);
	border-radius: 20px;
	height: 130px;
}
::-webkit-scrollbar-button{
	display: none;
}